* text=auto
*.py text eol=lf
*.kt text eol=lf
*.kts text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.js text eol=lf
*.cjs text eol=lf
gradlew text eol=lf
*.bat text eol=crlf
*.zip binary
*.jar binary
*.pbf binary
*.png binary
